.card-paciente {
  background-color: #ffffff;
  border-radius: 8px;
  border: solid 2px;
  border-color: #dddddda7;
  padding: 20px;
  padding-top: 0;
  width: 45%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.paciente-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;  
}

.paciente-foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #3498db;
}

.paciente-foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.paciente-nome {
  color: #2e3da5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  margin-bottom: 15px;
  font-weight: 600;
}

.info-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
   font-size: 0.9em;
}

.info-item {
  flex: 1;
}

.detalhe-label {
  display: inline-block;

}

.detalhe-valor {
  color: #333;
}

